body {
  line-height: 1.3;
  font-family: Arial;
}



#ciapiSkinContainer {
  height: 550px;
  width: 400px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  z-index: 2000;
  background-color: #fff;
  border: 2px solid #333;
  font-family: Arial;
  border-bottom: none;
}

#ciapiSkinHeader {
  width: 100%;
  height: 50px;
  background: #008670;
  font-family: Arial;
}

#ciapiSkinTitleBar {
  width: calc(100% - 65px);
  font-weight: bold;
  height: 100%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}

#ciapiSkinTitleBar i.icono-comment {
  color: #fff;
  height: 20px;
  margin: 0 10px 10px 0;
}

#ciapiSkinTitleBar i.icono-disqus {
  color: #fff;
  margin: 0 10px 10px 0;
}

#ciapiSkinTitleBar span {
  line-height: 50px;
  font-size: 26px;
  color: #fff;
}

#ciapiSkinCloseButton {
  width: 65px;
  height: 100%;
  float: left;
  padding: 8px 15px;
  box-sizing: border-box;
}

#ciapiSkinCloseButton i {
  color: #fff;
}

#ciapiSkinCloseButton i:hover {
  color: #444;
  cursor: pointer;
}

#ciapiSkinChatTranscript {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 0;
}

#ciapiSkinFooter {
  width: 100%;
  height: 50px;
}

#ciapiSkinFooter textarea {
  margin: 3px;
  float: left;
  width: calc(100% - 66px);
  height: 44px;
  box-sizing: border-box;
  resize: none;
  border: none;
  padding: 4px;
}

#ciapiSkinFooter textarea:focus {
  outline: 3px solid #fd0;
}

#ciapiSkinSendButton {
  background-color: #00703c;
  width: 60px;
  height: 50px;
  float: left;
  padding-top: 10px;
  padding-left: 14px;
  box-sizing: border-box;
}

#ciapiSkinSendButton:hover {
  background-color: #005a30;
  cursor: pointer;
}

.ciapiSkinTranscriptCustLine {
  padding: 8px 15px;
  text-align: right;
}

.ciapiSkinTranscriptAgentLine, .ciapiSkinTranscriptOpener {
  padding: 8px 15px;
}

.ciapiSkinCustMsg {
  margin-left: 30px;
  background-color: #1D70B8;
  padding: 8px 15px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
}

.ciapiSkinAgentMsg, .ciapiSkinOpener {
  margin-right: 30px;
  background-color: #F3F2F1;
  padding: 8px 15px;
  box-sizing: border-box;
  display: inline-block;
}

.ciapiSkinSysMsg {
  margin: 10px 20px 5px;
  font-style: italic;
  color: #555;
}

/***************
 C2C c2cButtons
 ***************/

.c2cButton .fixed {
  width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.c2cButton .fixed.ready {
  background-color: #00703c;
}

.c2cButton .fixed.ready:hover {
  background-color: #005a30;
  cursor: pointer;
}

.c2cButton .fixed.busy,
.c2cButton .fixed.outofhours,
.c2cButton .fixed.chatactive {
  background-color: grey;
}


.c2cButton .anchored {
  width: 200px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.c2cButton .anchored.ready {
  background-color: #008670;
}
.c2cButton .anchored.ready:hover {
  background-color: #005A30;
  cursor: pointer;
}

.c2cButton .anchored.busy,
.c2cButton .anchored.outofhours,
.c2cButton .anchored.chatactive {
  background-color: grey;
}

#HMRC_CIAPI_Anchored_1 {
  position: fixed;
  bottom: 0;
  right: 50px;
}
