.header-margin-top {
    margin-top: 0;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.govuk-inset-text {
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6;
}

.govuk-heading-l {
    color: #0b0c0c;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}
#subsection-title {
    margin-top: 0;
    margin-bottom: 0;
}

.content__body {
    position: relative;
}

.gem-c-govspeak .address, .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.webchat-unavailable > #HMRC_Fixed_1 {
    display: none;
}

#cui-loading-animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#cui-messaging-container {
    width: 100%;
}
